header
    .container
        .icon-logo
            img(src="@assets/images/icons/webpack.svg")
            span webpack-layout-template
        .links-wrapper.separator
            a(href="https://github.com/igorkrosh/webpack-layout-template")
                img(src="@assets/images/icons/github.svg").github