// DELETE CONTENTS BEFORE USE

body
{
    background: #161618;
    color: white;
    font-family: 'OpenSans';
}

header
{
    background: #161618;
    border-bottom: 1px solid #5454547a;
    padding: 20px 0;

    .container
    {
        display: flex;
        align-items: center;
    }

    .icon-logo
    {
        display: flex;
        align-items: center;
        img
        {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        span
        {
            font-weight: 500;
            font-size: 16px;
        }
    }

    .links-wrapper
    {
        display: flex;
        align-items: center;
        margin-left: auto;
        a
        {
            display: inline-flex;
            align-items: center;
        }

        img
        {
            width: 24px;
            height: 24px;
        }
    }

    .separator
    {
        position: relative;
    }

    .separator:before
    {
        content: '';
        width: 1px;
        height: 25px;
        background: #5454547a;
        display: block;
        margin: 0 15px;
    }
}

footer {
    background: #161618;
    border-top: 1px solid #5454547a;
    padding: 20px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            color: #ebebeb99;
            font-weight: 500;
            font-size: 14px;
        }
    }
}

section
{
    padding: 30px 0;
}

section.main-screen
{
    height: 100vh;
    display: flex;
    align-items: center;

    .container
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .text-wrapper
    {
        width: 60%;

        .repname
        {
            font-size: 60px;
            font-weight: 600;
            color: rgba(64,61,254,1);
        }

        h1
        {
            font-size: 45px;
            font-weight: 600;
        }
    }

    .slider-wrapper
    {
        width: 40%;

        .owl-item
        {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-slide
            {
                transform: scale(0);
            }
        }

        .owl-item.active
        {
            .logo-slide
            {
                transform: scale(1);
            }
        }

        .logo-slide
        {
            width: 220px;
            transition: 0.7s;
            img
            {
                max-width: 100%;
            }
        }
    }
}

pre {
    background: #222222;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
}

a {
    color: #5495d7;
    font-weight: 500;
    text-decoration: underline;
}

code {
    font-size: 14px;
    padding: 3px;
    border-radius: 3px;
    background: #281b14;
    color: #c1997f;
}

input {
    background-color: #1f1f21;
    font-size: 14px;
    border: 1px solid #272729;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'OpenSans';
    color: white;
}

button {
    background: #2e2f31;
    font-family: 'OpenSans';
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
}

button.active {
    background-color: #5495d7;
    color: black;
}

.tab {
    border: 1px solid #272729;
    border-radius: 5px;
    padding: 15px 25px;
    margin-top: 25px;
}