include @src/components/mixin

doctype html
html(lang="ru")
    include @src/components/head
    body
        .container
            h1 Hi from PUG!
            img(src="@assets/images/icons/webpack.svg")
        +IncludeJS('bundle.js')
        +IncludeJS('main.js')
