extends @src/layouts/default

block content
    section.docs-content
        .container 
            h1 Webpack Layout Template
            p A flexible and functional template for laying out web pages using Webpack. This template is designed for layout designers and frontend developers, providing a ready-made configuration for working with PUG, SCSS, automatic font include, as well as popular tools and libraries for creating modern interfaces. Includes ready-made solutions for sliders, tabs, anchor links, input masks, and lightbox.
            h2 Examples 
            h3 Using the lightbox
            pre 
                |a.lightbox(href="@assets/images/image.jpg")
                |    img(src="@assets/images/image.jpg")
            a.lightbox(href="@assets/images/image.jpg")
                img(src="@assets/images/image.jpg" style="max-width: 400px")
            h3 Using input masks
            pre 
                |input.phone
            input.phone(name="phone" placeholder="Your phone")
            h3 Anchor links
            pre 
                |a(anchor="footer") Go to footer
            a(anchor="footer") Go to footer
            h3 Tabs
            pre 
                |.btn-wrapper
                |    button.btn-tab(target="tab-1").active tab1
                |    button.btn-tab(target="tab-2") tab2
                |.tab-viewer
                |    .tab.active(tab-name="tab-1")
                |        h3 tab1
                |    .tab(tab-name="tab-2")
                |        h3 tab2
            .btn-wrapper
                button.btn-tab(target="tab-1").active tab1
                button.btn-tab(target="tab-2") tab2
            .tab-viewer
                .tab.active(tab-name="tab-1")
                    h3 tab1
                .tab(tab-name="tab-2")
                    h3 tab2
            h3 Slider 
            pre 
                |.owl-carousel 
                |    img(src="@assets/images/image.jpg")
                |    img(src="@assets/images/image.jpg")
                |    img(src="@assets/images/image.jpg")
                |    img(src="@assets/images/image.jpg")
            pre 
                |$('.owl-carousel').owlCarousel({
                |    items: 1,
                |    autoHeight: true,
                |    loop: true,
                |    autoplay: true,
                |    autoplayTimeout: 3000,
                |    autoplaySpeed: 1000
                |})
            .owl-carousel 
                img(src="@assets/images/image.jpg")
                img(src="@assets/images/image.jpg")
                img(src="@assets/images/image.jpg")
                img(src="@assets/images/image.jpg")
            h3 Modals 
            pre
                |.modal#ex1
                |    p Modal text
                |    a(href="" rel="modal:close") Close
                |a(href="#ex1" rel="modal:open") Open Modal
            .modal#ex1
                p Modal text
                a(href="" rel="modal:close") Close
            a(href="#ex1" rel="modal:open") Open Modal