header
    .container
        .icon-logo
            img(src="@assets/images/icons/webpack.svg")
            span webpack-layout-login
        .menu-wrapper
            a(href="#" anchor="section.docs-content") Установка
            a(href="#") Структура
            a(href="#") Особености
        .links-wrapper.separator
            a(href="#")
                img(src="@assets/images/icons/gitverse.svg").gitverse