include @src/components/core/mixin

doctype html
html(lang="en")
    include @src/components/core/head
    body
        include @src/components/core/header
        block content
        include @src/components/core/footer
    include @src/components/core/scripts